
*{
    margin:0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
}
body{
    color: rgb(31, 30, 28);
    font: 18px 'Open Sans', Arial, sans-serif;
    max-width: 100%;
}
.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.header{
    min-height: 100vh;
    padding-top: 250px;
    padding-bottom: 250px;
    background: url('q2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(240, 238, 229);

}
#h0{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 35px;  
    text-align: center;
     margin: 0;
    }
  #h1{
      font-family: Comic Sans MS, Comic Sans, cursive;
      font-size: 53px;   
      text-shadow: 5px 5px rgb(8, 8, 8);
      text-align: center;
      margin: 0;
      }
  #h2{
      font-family: DejaVu Sans Mono, monospace  ;
      font-size: 20px;
      text-align: center;
      margin: 0;
  
  
  }
  hr.line{
    border-top: 2px solid rgb(34, 32, 32);
    text-shadow: 5px 5px rgb(34, 32, 32);

  }

/***REGISTER***/ 
.form{
  background: transparent;
  color: azure;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 250px;
  position: relative;
}
input{
  margin: 8px 0;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(88, 82, 82);
  display: inline-block;
  
}
#buttonReg{
  background: transparent;
    border: 1px solid rgb(34, 32, 32);
    color: rgb(34, 32, 32);
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
}

#buttonReg:hover{
  background: rgb(34, 32, 32);
    color:white;
}

#name, #surname, #email, #password, #secondPassword{
  border-bottom: 1px solid rgb(34, 32, 32);
}
form .error{
  text-align: center;
  font-size: 12px;
  margin-top: 0;
  color: rgb(187, 64, 64);
}

/*NAVIGATION*/
    .nav{
        background-color: #35332f;
        box-shadow: 2px 3px #7e7070;
        width: 100%;
        top: 0;
        z-index: 1;
        position: fixed;
    }
    .home{
      color: rgb(238, 228, 228);
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 25px;
      line-height: 80px;
      padding: 0 100px;
    }
    .nav ul{
      float: right;
      margin-right: 20px;
    }

    .nav ul li{
      display: inline-block;
      line-height: 80px;
      margin:0 15px;
    }
   
     
      .nav a {
        color: rgb(238, 228, 228);
        text-align: center;
        text-decoration: none;
        font-size:  15px;
        text-transform: uppercase;
        padding: 7px 13px;
        border-radius: 3px;
      }
      
      a.active, a:hover{
        font-size:  20px;
        transition: .5s;
        color: rgb(224, 216, 178);
      }

      .checkBtn{
        font-size: 20px;
        color: rgb(238, 228, 228);
        line-height: 80px;
        float: right;
        margin-right: 40px;
        cursor: pointer;
        display: none;  
      }

      #check{display: none;}



      /*RESPONSIVE*/
      @media (max-width:1405px){
        .home{
          padding: 0 50px;
          font-size: 20px;
        }
      }
      @media (max-width:1250px){
        .checkBtn{display: block;}
        ul{
          position: fixed;
          width: 100%;
          height:10vh;
          background: rgb(24, 21, 21);
          top:80px;
          left: -100%;
          text-align: center;
          transition: all .5s;
        }
        nav ul li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
        nav ul li a{
          font-size: 20px;
        }
        a:hover, a.active{
          background: none;
          color: rgb(105, 102, 105);
          font-size: 25px;
        }
        #check:checked ~ul{
          left: 0;
        }
      }
      @media (max-width:920px){
        .nav a {
          font-size:  13px;
        }
        #h0{
          font-size: 25px;
        }
        #h1{
          font-size: 43px;
        }
        #h2{
          font-size: 15px;
        }
        .container{
          max-width: 600px;
          padding-left: 15px;
          padding-right: 15px;
         }
         .memory-game {
          width: 250px;
          height: 250px;
        }
        
      }
      @media (max-width:730px){
        .memory-card {
          width: 90px;
          height: 90px;
          margin: 3px;
        }
        .container{
          max-width: 400px;
          padding-left: 5px;
          padding-right: 5px;
         }
      }
      .section{
          padding: 80px 0;
          text-align: justify;
      }

      .section:nth-of-type(even){
          background: #c7c2c2;
      }
      .section *:not(:first-child){
          margin-top: 5px;
      }


      /* MEMORY GAME*/
      #brawo{
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 50px;
        text-shadow: 0px 0px 9px #86c0df, 0px 0px 15px #7c1063, 0px 0px 5px #f50abe;
       display: none;
  
    } 
    .memory-game {
        width: 500px;
        height: 500px;
        display: inline-flex;
        flex-wrap: wrap;
        perspective: 1000px;
      }

      .memory-card {
        width: 115px;
        height: 115px;
        margin: 5px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
      }
      
      .memory-card:active {
        transform: scale(0.95);
        transition: transform .3s;
      }
      
      .memory-card.flip {
        transform: rotateY(180deg);
      }

      .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  .back-face:hover{
    cursor: pointer;
    opacity: 0.8;
}
  
  .front-face {
    transform: rotateY(180deg);
  }

  #button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: block;
    font-size: 15px;
    transition-duration: 0.2s;
    cursor: pointer;
    transform: scale(1);
    position: absolute;
    left: 35%;
    border: 2px solid #555555;
    border-radius: 12px;
    color: black;
    margin-left: 20%;
    top: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }
  #button:hover {
    background-color: #555555;
    color: white;
  }

  #button:active .memory-card.flip{
    transform: rotateY(180deg);
    
  }
  .numbOfMoves{
    text-align: center;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display:  block;
    font-size: 25px;
    position: absolute;
    top:99%;
    left: 20%;
  }
